@model Customer

<table class="table">


    <tr>
        <td>
            <h1> WELCOME @Model.Name</h1>
        </td>
        <td>
            <div>
                <p class="text-primary"> You Have Chosen @Model.MemberShip.MembershipType </p>
            </div>
        </td>
    </tr>

</table>
