@model IEnumerable<MemberShip>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Customer Name</th>
            <th scope="col">MemberShip Type</th>
        </tr>
    </thead>


    @foreach (var memberShip in Model)
    {
        @foreach (var customer in memberShip.Customers)
        {
            <tr>
                <td>
                    @customer.Name
                </td>
                <td>
                    <a asp-action="Details" asp-route-id=@customer.CustomerId>@memberShip.MembershipType </a>
                </td>
            </tr>
        }


    }


</table>

